body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    overflow: auto;
}

.sidebar a {
    display: block;
    padding: 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.sidebar a:hover {
    background-color: #f4f4f4;
}

.content {
    margin-left: 200px;
    padding: 20px;
    width: 100%;
}

.topbar {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.topbar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.section {
    display: none;
}

.section.active {
    display: block;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #2863ec;
}

.form-container, .table-container {
    margin-bottom: 20px;
}

.form-container h5 {
    color: green;
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 15px;
}

.form-container input[type="submit"]:hover {
    background-color: #218838;
}

.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f4f4f4;
}

.table img {
    max-width: 50px;
    height: auto;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
}

.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

textarea {
    scrollbar-width: 0;
}

textarea::-webkit-scrollbar {
    width: 0;
}
