/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    z-index: 100;
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.about, .contact {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.about h2, .contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.contact form button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact form button:hover {
    background-color: #0056b3;
}
footer{min-height: 100px;
    text-align: center;
}

/* team member */
.team-section {
    text-align: center;
    padding: 50px 20px;
}

.team-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #FFC0CB;
    text-shadow: 2px 2px #000;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background-color: #3C4F58;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    text-align: left;
    transition: transform 0.3s;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    width: 100%;
    height: 250px; /* Fixed height for images */
    object-fit: cover; /* Ensure images cover the area without distortion */
    object-position: top; /* Crop images from the top */
    display: block;
}

.team-member h3 {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 0 10px;
    color: #FFC0CB;
}

.team-member p {
    font-size: 1em;
    padding: 0 10px 10px;
    color: #A9CCE3;
}

@media (max-width: 768px) {
    .team-container {
        flex-direction: column;
        align-items: center;
    }
}

