* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: yellowgreen; */
}

nav {
    color: rgb(248, 248, 248);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* background-color: rgb(52, 137, 235); */
    /* padding-left: 10px; */
    padding-right: 40px;
    height: 70px;
    position: relative;
    background-color: rgb(25, 25, 228);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
    color: white;
    text-decoration: none;
}

a:active {
    color: red;
}

.left_nav {
    max-width: 15%;
    height: 90%;
    /* background-color: bisque; */
    display: flex;
    /* flex: 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;

}


.middle_nav {

    /* background-color: blue; */
    height: 100%;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    /* flex: 1; */
    position: relative;

}

.middle_nav ul {

    width: 100%;
    /* display: none; */
    display: flex;
    /* flex-direction: row; */
    list-style: none;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    cursor: pointer;

}

nav button {
    box-shadow: inset .4px .3px 3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    height: 40px;
    width: 40px;
    border: none;
    vertical-align: top;
    left: -30px;
    margin-right: -30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.fa-user-gear {
    color: white;
    cursor: pointer;
    font-size: 25px;
    cursor: pointer;

}

nav form {
    z-index: -1;
    display: none;
    /* background-color: red; */
    padding: 20px;
    width: 100%;
    /* display: flex; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    /* left: 0; */
    /* width: 100%; */
    /* flex: 1; */
    animation: PopUp .9s forwards;

}

.middle_nav {
    /* background-color: red; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

@keyframes PopUp {
    0% {

        top: 0px;

    }

    100% {

        top: 60px;
    }
}


nav .searchbox input {
    display: flex;
    flex: 1;
    padding-left: 20px;
    /* padding-right:  34px; */
    font-size: 19px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: inset .4px .3px 3px;
}

.right_nav {
    vertical-align: top;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /* background-color: rgb(250, 29, 29); */

}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    position: relative;
    align-items: center;
    text-align: center;
    /* background-color: blue; */
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.cart {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    /* background-color: blueviolet; */

}

i {
    cursor: pointer;

}

.cart_div p {
    font-size: 30px;
}

.fa-cart-shopping {

    font-size: 25px;
    cursor: pointer;


}

.item_no {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 27px;
    bottom: 35px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.Home_icon a .fa-house-user {
    font-size: 25px;
    color: white;
    cursor: pointer;
}



.fa-bars {
    font-size: 30px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width:704px) {
    .middle_nav {
        flex: 0;
        /* position: none; */
        /* position: none; */
        /* background-color: black; */

    }

    .middle_nav ul {
        cursor: default;
        flex-direction: column;
        position: absolute;
        /* width: 100vw; */
        top: 70px;
        left: 0;
        /* height: 30vh; */
        background-color: aquamarine;
        margin: 0;
        display: none;
        transition: display 0.5s ease;
        /* Add transition effect */
    }

    .searchbox {
        display: none;
        z-index: 0;
        transition: display 0.5s ease;
        /* Add transition effect */
    }

    @keyframes upward {
        0% {
            top: 0;
        }

        100% {
            top: 70px;
        }
    }

    a {
        width: 100%;
        height: 100%;
        color: black;
        /* background-color: red; */
        padding: 13px;
        margin-left: -8px;
    }

    a:active {
        color: rgb(255, 0, 0);
    }

    .middle_nav ul li {
        color: black;
        cursor: pointer;
        background-color: rgb(202, 201, 201);
        padding: 15px;
        width: 100px;
        margin-top: 1px;
        /* width:100%; */
    }

    .middle_nav ul li:hover {
        background-color: rgb(145, 141, 141);
    }

    nav {
        background-color: rgb(32, 50, 212);
        display: flex;
        justify-content: space-around;
        padding-right: 0;
    }

    .middle_nav {
        /* background-color: red; */
        padding-right: 0px;
        flex: 0;
        padding: 0;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    .right_nav {
        /* background-color: red; */
        margin-right: 0;
        padding-right: 5px;
        display: flex;
        justify-content: space-around;
        flex: 1;
    }

    .left_nav {
        max-width: 25%;
    }


    .bar_icon {
        padding-right: 20px;
        padding: 30px;
        display: flex;
    }

    .fa-bars {
        display: inline-block;
    }
}

/* home section start from here */
.content_home{

    width: 100wh;
    /* height: 80vh; */
    /* padding: 20px; */
    background-color: rgb(230, 28, 88);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
   
    
    }

    .left_home{
        /* padding: 50px; */
        padding-left: 50px;
        width: 50%;
        height: 80vh;
        background-color: rgb(230, 28, 88);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
       padding-top: 7%;
        font-size: 20px;
    }
    .right_home{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        /* background-color: rgb(255, 67, 67); */
        /* border-top-left-radius: 200px; */
    }
    .left_home p{
        width: 90%;
        text-align: center;
        line-height: 30px;
    }
    .left_home h1{
        font-size: 71px;
        text-shadow: 2px 3px 4px;
    
    }
    .left_home button{
       margin-top: 30px;
        width: 150px;
        height: 40px;
        background-color: whitesmoke;
        border-radius: 7px;
        cursor: pointer;
        font-size: 20px;
    }
    .right_home{
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding-top: 50%; */
    }
    @media screen and (max-width:967px) {
        .content_home{
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            /* background-color: red; */
        } 
        .left_home{
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            height: auto;
        }
        .left_home h1{
            text-align: center;
            font-size: 35px;
            margin-bottom: 10px;
            color: rgb(0, 255, 13);
            text-shadow: 2px 3px 4px;
        }
        .left_home p{
            width: 100%;
            font-size: 16px;
        }
        .right_home{
            width: 0%;
            display: none;
        }

    }
    /* home section end here */